@import "../../_variables.scss";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $window-footer-height;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.window-top {
    height: $window-top-height;
    width: 100%;
    background-color: $window-top-color;
    border-top-left-radius: $window-radius;
    border-top-right-radius: $window-radius;
}

.table-wrapper {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    top: $window-top-height;
    bottom: $window-footer-height;
}

