$window-width: 600px;
$window-height: 600px;
$window-radius: 0.25rem;
$navbar-height: 3.5rem;
$window-footer-height: 3.5rem;
$window-border-color: #bbb;
$window-top-height: 1.5rem;
$window-top-color: #0CF;