<div class="container m-t-1">
    <form class="col-lg-offset-3 col-lg-6" (ngSubmit)="onSubmit()" [ngFormModel]="regForm" >
      <fieldset class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="email" required/>
      </fieldset>
      <fieldset class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" placeholder="Enter Display Name" [(ngModel)]="displayName" required/>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" ngControl="password" required/>
        <small class="text-muted">
            <span *ngIf="password.errors && password.errors.minlength">Must be 8 or more characters.</span>
            <span *ngIf="password.errors && password.errors.maxlength">Must be less than 160 characters.</span>
            <span *ngIf="password.errors && password.errors.pattern && !password.errors.minlength && !password.errors.maxlength">Must have 1 lowercase letter, uppercase letter, number, and special character.</span>
        </small>
      </fieldset>
      <fieldset class="form-group">
        <label for="passwordConf">Confirm Password</label>
        <input type="password" class="form-control" id="passwordConf" placeholder="Confirm Password" [(ngModel)]="passwordConf" required/>
        <small class="text-muted" *ngIf="!passwordsMatch">Passwords must match.</small>
      </fieldset>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
